*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


:root{
 /* Primary */

--LimeGreen: hsl(163, 72%, 41%);
--BrightRed: hsl(356, 69%, 56%);

--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram:linear-gradient (to left, hsl(37, 97%, 70%) ,to right, hsl(329, 70%, 58%));
--YouTube: hsl(348, 97%, 39%);

 /* Dark Theme */
--VeryDarkBlue: hsl(230, 17%, 14%);
--VeryDarkBlue: hsl(232, 19%, 15%);
 --DarkDesaturatedBlue: hsl(228, 28%, 20%);
--DesaturatedBlue: hsl(228, 34%, 66%);
--White: hsl(0, 0%, 100%);

 /* Light Theme */

--White: hsl(0, 0%, 100%);
--VeryPaleBlue: hsl(225, 100%, 98%);
--LightGrayishBlue: hsl(227, 47%, 96%);
--DarkGrayishBlue: hsl(228, 12%, 44%);
--VeryDarkBlue: hsl(230, 17%, 14%);

/* Dark Theme */
--Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%),

/* light theme */
--Toggle: hsl(230, 22%, 74%)
}


body {
  font-family: "Inter", sans-serif;
  
  position: relative;
   ;
   
}
.bg{
  background-color:var(--LightGrayishBlue);
  /* top: 0;
  left: 0; */
  width:100%;
  height: 35%;
  opacity: 0.6;
  position: absolute;
}
.bg-dark{
  background-color:var(--DarkDesaturatedBlue) ;
  opacity: 0.3;
  
}
/* body::before {
  content: "";
  position: absolute;
  background-color:var(--LightGrayishBlue);
  top: 0;
  left: 0;
  width:100%;
  height: 35%;
  opacity: 0.6;
} */

.main-bg{
  background-color: var(--VeryDarkBlue);
}

.container{
  margin:0px 20px;
  display: flex;
  flex-direction: column;
  
  /* width: 850px; */
  align-items: center;
  height: 100vh;

}

.top-section{
  margin:30px 0px;
  display: flex;
  flex-direction:column;
  margin-bottom: 30px;
  
z-index: 1;
  
}


.heading-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 1090px;
  align-items: center;
  
}
.mode-container{
  /* margin-right:20px; */
  /* text-align: center; */
  position: relative;
  display: flex;
}
/* Switch styles */
.darkmode{
  color: var(--DarkGrayishBlue);
  font-size: 15px;
  /* text-align: center; */
  transform: translateY(3px);
  font-weight: bold;
}
.switch {
  appearance: none;
  display: inline-block;
  height: 28px;
  width: 60px;
  background-color: var(--DarkGrayishBlue);
  /* background-image: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%)); */
  opacity: 0.5;
  cursor: pointer;
  border-radius: 1rem;
  position: relative;
  margin-left: 20px;
  /* transition: background-color 0.3s ease; */
  /* z-index: 10; */
}
.switch-dark{
  background-image: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}
.ball{
  content: "";
  /* margin-left: 2px; */
  top:2px;
  left:103px;
  height: 22px;
  width:22px;
  background-color:var(--White);
  position: absolute;
  border-radius: 50%;
  /* z-index: 1; */
  /* transition: transform 0.3s ease; */
}
.ball-dark{
  background-color:var(--VeryDarkBlue);
}
.ball-move{
  content: "";
  /* margin-left: 2px; */
  left:116px;
  top:2px;
  left:85px;
  height: 22px;
  width:22px;
  background-color:var(--White);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.3s ease;
}
 
.heading{
  font-size: 30px;
}
.heading-dark{
  color: var(--White);
}
.main-heading{
  font-size: 15px;
  
}
.total-follow{
  /* margin-top:5px; */
  color: var(--DarkGrayishBlue);
  font-weight: 600;
}


.main-cards{
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  display: grid;
  
  grid-template-columns: auto auto auto auto;
}
.card{
   background-color:hsl(227, 47%, 96%) ;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   width:250px;
   height:220px;
  
   margin-right:30px;
   border-radius: 4px;
   overflow: hidden;
   margin-bottom: 30px;
   padding: 20px;
   
}
.card-dark{
  background-color:var(--DarkDesaturatedBlue)
}
.card-dark:hover{
  background-color:hsla(228, 28%, 20%,0.3);
}
.card:hover{
  background-color:hsla(228, 12%, 44%,0.3);
}
.card-facebook{
  border-top:4px solid var(--Facebook);
}
.card-twitter{
  border-top:4px solid var(--Twitter);
}
.card-instagram{
 border-style: solid;
 border-top:px;
 border-bottom:0px;
 border-right:0px;
 border-left:0px;
  border-width: 4px;
  border-image: linear-gradient(50deg, hsl(37, 97%, 70%) , hsl(329, 70%, 58%)) 1;
 /* border-top-right-radius: 4px; */

    
    /* background:linear-gradient( hsl(37, 97%, 70%) to hsl(329, 70%, 58%)) */


/* border-top:4px solid red;  */
}
.card-youtube{
  border-top:4px solid var(--YouTube)
}
.fname{
  margin-top:20px;
  color:var(--DarkGrayishBlue) ;
}
.year{
  margin-top:20px;
  font-size: 45px;
   
}
.year-dark{
  color:var(--White);
}
.up{
  margin-top:20px;
  font-size: 13px;
  color:var(--LimeGreen) ;
}
.down{
  margin-top:20px;
  font-size: 13px;
  color:var(--BrightRed) ;
}
.followers{
  margin-top:0px;
  color:var(--DarkGrayishBlue) ;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.icons{
  margin-right:10px;
  transform: translateY(4px);
}

.bottom-section{
 display: flex;
  flex-direction:column;
  /* align-items: center; */
  margin-bottom: 30px;;

  
}

.bottom-cards{
 /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto auto auto auto;

  
  
  /* flex-wrap: wrap; */
}
.bottom-card{
  width:250px;
   height:120px;
   background-color:hsl(227, 47%, 96%) ;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   /* align-items: center; */
   margin-right:30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
}
.bottom-card-dark{
  background-color:var(--DarkDesaturatedBlue)
}
.bottom-card-dark:hover{
  background-color:hsla(228, 28%, 20%,0.5)
}
.bottom-card:hover{
  
   background-color:hsla(228, 12%, 44%,0.2);
   
}

.bottom-heading{
  margin-bottom: 50px;
  font-size: 19px;
  color:var(--DarkGrayishBlue) ;
}
.left-part{
   
   display: flex;
   justify-content: space-between;
    margin-bottom:30px; 
    margin-top:0px; 
   /* flex-direction: column; */
}
.left-part p{

  font-size: 15px;
  color: var(--DarkGrayishBlue);
  font-weight: bold;
/* opacity: 0.8; */
  /* margin-bottom:30px; */
}
.bottom-para{
  color: var(--White);
}
h3{
  color: black;
}
.h3-dark{
  color: var(--White);
}
.right-part{
   display: flex;
   justify-content: space-between;
}
.icons{
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
   .container{
    padding: 20px;
    align-items: flex-start;
    /* /* justify-content: center; */
    align-items: center; 
  }
  .heading-container{
  display: flex;
  flex-direction: column;

  /* justify-content:flex-start; */
  
  margin-bottom: 40px;
  max-width: 900px;
  align-items: flex-start;
  
}
.main-heading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
 
  margin-bottom: 20px;
}
.total-follow{
  margin-bottom: 0px;
}

.heading{
  font-size: 25px;
}
.mode-container{
  display: flex;
  width: 900px;
  justify-content: space-between;
}
.ball{
  
  top:3px;
  left:842px;
  
  /* z-index: 1; */
  /* transition: transform 0.3s ease; */
}
.main-cards{
 grid-template-columns:1fr 1fr 1fr;
 grid-gap: 20px;
  }
  .card{
    width:100%;
  }
.bottom-cards{
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}
.bottom-card{
  width:285px;
  margin-right:0px;
   
}
}

@media only screen and (max-width: 860px) {
   .container{
    padding: 20px;
    align-items: flex-start;
    /* /* justify-content: center; */
    align-items: center; 
  }
  .heading-container{
  display: flex;
  flex-direction: column;

  /* justify-content:flex-start; */
  
  margin-bottom: 40px;
  max-width: 600px;
  align-items: flex-start;
  
}
.main-heading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-bottom:2px solid var(--DarkGrayishBlue);
  margin-bottom: 20px;
}
.total-follow{
  margin-bottom: 20px;
}

.heading{
  font-size: 25px;
}
.mode-container{
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.ball{
  
  top:3px;
  left:542px;
  
  /* z-index: 1; */
  /* transition: transform 0.3s ease; */
}
.main-cards{
 grid-template-columns:1fr 1fr;
 grid-gap: 20px;
  }
  .card{
    width:100%;
  }
.bottom-cards{
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}
.bottom-card{
  width:285px;
  margin-right:0px;
   
}
}
@media only screen and (max-width: 560px) {
  .container{
    padding: 0px;
    
    /* justify-content: center;
    align-items: center; */
    align-items: center; 
  }
 
.heading-container{
  display: flex;
  flex-direction: column;

  /* justify-content:flex-start; */
  
  margin-bottom: 40px;
  max-width: 370px;
  align-items: flex-start;
  
  
}
.main-heading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-bottom:2px solid var(--DarkGrayishBlue);
  margin-bottom: 20px;
}
.total-follow{
  margin-bottom: 20px;
}

.heading{
  font-size: 25px;
}
.mode-container{
  display: flex;
  width: 370px;
  justify-content: space-between;
}
.ball{
  content: "";
  /* margin-left: 2px; */
  top:3px;
  left:313px;
  height: 22px;
  width:22px;
  background-color:var(--White);
  position: absolute;
  border-radius: 50%;
  /* z-index: 1; */
  /* transition: transform 0.3s ease; */
}
.ball-dark{
  background-color:var(--VeryDarkBlue);
}
.main-cards{
 grid-template-columns:1fr;
  }
  .card{
    width:100%;
  }
.bottom-cards{
  grid-template-columns: 1fr;

}
.bottom-card{
  width:370px;
   
}
}
